/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {

	.container {
		font-family: 'Helvetica', sans-serif;
		margin: 0 auto;
		width: 80%;
		height: 100%;
		background-color: #F7F7F7;
	}

	.header {
		margin: 0 auto;
		width: 100%;
		position: relative;
		height: 100px;
	}

	.header h1 {
		float: left;
		width: 70%;
	}

	#cursive {
		font-family: 'Rock Salt', cursive;
		font-size: 25px;
		border: 3px solid #444444;
		padding: 0 5px 0 5px;
		text-decoration: none;
	}

	.header h1 .active{
		color: #444444;
	}

	.header h1 a:hover {
		color: #444444;
	}

	.nav-box {
		float: right;
		margin-top: 16px;
		height: 60px;
		padding: 10px 0 0 0;
		width: 180px;
	}

	.nav-box li {
		list-style-type: none;
		display: inline;
		margin: 10px;
	}

	.nav-item li a {
		text-decoration: none;	
	}

	.content {
		margin: 0 auto;
		width: 100%;
		font-family: 'Helvetica', sans-serif;
		padding: 0px;
		color: #444444;
		position: relative;
	}


	/*********************************/
	/*Index Template CSS*/
	/*********************************/
	.index-template {
		margin: 0 auto;
		padding-top: 50px;
		text-align: left;
		position: relative;
	}

	.message {
		position: relative;
		color: #FF1111;
		margin: 0 auto;
		width: 363px;
		padding-top: 1px;
	}

	.index-template h1 {
		text-align: left;
		margin: 0 auto;
	}

	#line1 {
		padding-top: 5px;
		padding-left: 3px;
		font-size: 93px;
		letter-spacing: 28px;
		line-height: 82px;
	}

	#line2 {
		margin: 0px 0px 0px 0px;
		padding-left: 8px;
		font-family: 'Rock Salt', cursive;
		font-size: 13px;
		line-height: 18px;
		letter-spacing: 1.75px;
	}

	#line3 {
		font-size: 61px;
		margin: 0px;
		padding-left: 5px;
		line-height: 71px;
		letter-spacing: 1px;
	}

	#line4 {
		margin: 0px 0px 0px 0px;
		padding-left: 7px;
		font-family: 'Rock Salt', cursive;
		font-size: 13px;
		line-height: 18px;
		letter-spacing: 1px;
		
	}

	#line5 {
		font-size: 43px;
		letter-spacing: 3.5px;
		margin: 0px;
		padding-left: 6px;
		line-height: 55px;
	}

	#line6 {
		margin: 0px 0px 0px 0px;
		padding-left: 10px;
		font-family: 'Rock Salt', cursive;
		font-size: 13px;
		line-height: 18px;
		letter-spacing: 2px;	
	}

	#line7 {
		font-size: 80px;
		letter-spacing: 9px;
		margin: 0px;
		padding-left: 5px;
		line-height: 90px;
	}


	/*********************************/
	/*About Template CSS*/
	/*********************************/
	.about-template {
		height: 400px;
		padding-top: 20px;
	}

	.status-header {
		height: 75px;
		text-align: center;
		margin: 10px 0px 0px 0px;
		
	}

	.status-header .icon-plus-sign-alt {
		margin-right: 5px;
		font-size: 45px;
	}

	#status-span1 {
		font-family: 'Helvetica';
		font-size: 40px;
		font-weight: 100;
	}

	#status-span2 {
		font-family: 'Rock Salt', cursive;
		font-size: 27px;
		font-weight: 100;
		letter-spacing: 3px;
		color: #FF1111;
	}

	/*Column 1 - About Me*/
	.bio {
		margin: 0 auto;
		width: 100%;
		text-align: center;
	}

	#headshot {
		margin-right: 10px;
	}

	#headshot img {
		height: 100px;
		width: 100px;
		border-radius: 100%;
	}

	.bio-intro p {
		margin-top: 0px;
		padding: 10px 0px 0px 10px;
		text-align: left;
		font-family: 'Helvetica';
		font-size: 18px;
		font-weight: 300;
		line-height: 18pt;
	}

	/*Column 2 - Skills*/
	.skills {
		margin: 0 auto;
		width: 100%;
		padding-top: 10px;
		height: 175px;
		/*float: left;*/
		text-align: center;
	}

	#code-icon {
		margin-bottom: 20px;
		text-align: center;
	}

	.skill-list p{
		float: left;
		margin: 0 auto;
		width: 16.5%;
		font-family: 'Rock Salt', cursive;
		font-size: 18px;
		font-weight: 100;
		line-height: 40px;
		letter-spacing: 4px;
	}

	/*Column 3 - Contact info*/
	.contact-info {
		margin: 0 auto;
		width: 100%;
		height: 200px;
		text-align: center;
	}

	.contact-header {
		font-family: 'Helvetica';
		font-size: 40px;
		font-weight: 100;
	}

	.icons-container {
		margin: 0 auto;
		width: 100%;
	}

	.contact-icon {
		margin: 0 auto;
		width: 16.5%;
		float: left;
	}


	/*********************************/
	/*Blog Template CSS*/
	/*********************************/
	.blog-container {
		margin: 0 auto;
	}

	.entry {
		margin: 5px auto;
		width: 80%;
	}

	.date {
		float: left;
		margin-right: 10px;
		padding-top: 30px;
		width: 120px;
	}

	.date p {
		margin: 5px 0 5px 0;
		font-family: 'Helvetica';
		font-size: 18px;
		line-height: 18pt;
		font-weight: 100;
	}

	.text {
		float: left;
	}

	.title h3 {
		margin: 5px 0 5px 0;
		font-family: 'Helvetica';
		font-size: 30px;
		font-weight: 100;
	}

	.blog-body {
		font-family: 'Helvetica';
		font-weight: 300;
		font-size: 18px;
		line-height: 18pt;
	}

	.blog-body p img {
		margin: 0 auto;
		width: 100%;
	}

	/*********************************/
	/*Footer*/
	/*********************************/
	.footer {
		padding-top: 60px;
		clear: both;
	}
	.footer p{
		font-family: 'Helvetica';
		font-weight: 400;
		font-size: 12px;
	}
}